src/main/resources/xsd/sf5_format.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="satid" maxOccurs="8" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tp" maxOccurs="4" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="LnbFreq"/>
                    <xs:element type="xs:int" name="Freq"/>
                    <xs:element type="xs:int" name="Symbol"/>
                    <xs:element type="xs:int" name="Polar"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="index" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="index" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>