src/test/resources/xsd/OpenboxSF5Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsmodel.sf5.openbox.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsmodel.sf5.openbox.org/" name="OpenboxSF5ImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsmodel.sf5.openbox.org/" schemaLocation="http://localhost:8080/SF5Spring-test/jaxws/OpenboxSF5Service?xsd=1"/>
</xsd:schema>
</types>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="WSException">
<part name="fault" element="tns:CheckVerifyFault"/>
</message>
<message name="getSettingById">
<part name="parameters" element="tns:getSettingById"/>
</message>
<message name="getSettingByIdResponse">
<part name="parameters" element="tns:getSettingByIdResponse"/>
</message>
<message name="getUserByLogin">
<part name="parameters" element="tns:getUserByLogin"/>
</message>
<message name="getUserByLoginResponse">
<part name="parameters" element="tns:getUserByLoginResponse"/>
</message>
<message name="getSatelliteById">
<part name="parameters" element="tns:getSatelliteById"/>
</message>
<message name="getSatelliteByIdResponse">
<part name="parameters" element="tns:getSatelliteByIdResponse"/>
</message>
<message name="createSetting">
<part name="parameters" element="tns:createSetting"/>
</message>
<message name="createSettingResponse">
<part name="parameters" element="tns:createSettingResponse"/>
</message>
<message name="getTransponders">
<part name="parameters" element="tns:getTransponders"/>
</message>
<message name="getTranspondersResponse">
<part name="parameters" element="tns:getTranspondersResponse"/>
</message>
<message name="getAllSatellites">
<part name="parameters" element="tns:getAllSatellites"/>
</message>
<message name="getAllSatellitesResponse">
<part name="parameters" element="tns:getAllSatellitesResponse"/>
</message>
<message name="ifSuchLoginExists">
<part name="parameters" element="tns:ifSuchLoginExists"/>
</message>
<message name="ifSuchLoginExistsResponse">
<part name="parameters" element="tns:ifSuchLoginExistsResponse"/>
</message>
<message name="getTranspondersByArbitraryFilter">
<part name="parameters" element="tns:getTranspondersByArbitraryFilter"/>
</message>
<message name="getTranspondersByArbitraryFilterResponse">
<part name="parameters" element="tns:getTranspondersByArbitraryFilterResponse"/>
</message>
<message name="getTransponderById">
<part name="parameters" element="tns:getTransponderById"/>
</message>
<message name="getTransponderByIdResponse">
<part name="parameters" element="tns:getTransponderByIdResponse"/>
</message>
<message name="getTranspondersBySatelliteId">
<part name="parameters" element="tns:getTranspondersBySatelliteId"/>
</message>
<message name="getTranspondersBySatelliteIdResponse">
<part name="parameters" element="tns:getTranspondersBySatelliteIdResponse"/>
</message>
<message name="getSettingsByUserLogin">
<part name="parameters" element="tns:getSettingsByUserLogin"/>
</message>
<message name="getSettingsByUserLoginResponse">
<part name="parameters" element="tns:getSettingsByUserLoginResponse"/>
</message>
<message name="getSettingsByArbitraryFilter">
<part name="parameters" element="tns:getSettingsByArbitraryFilter"/>
</message>
<message name="getSettingsByArbitraryFilterResponse">
<part name="parameters" element="tns:getSettingsByArbitraryFilterResponse"/>
</message>
<message name="getSatellitesByArbitraryFilter">
<part name="parameters" element="tns:getSatellitesByArbitraryFilter"/>
</message>
<message name="getSatellitesByArbitraryFilterResponse">
<part name="parameters" element="tns:getSatellitesByArbitraryFilterResponse"/>
</message>
<portType name="OpenboxSF5">
<operation name="createUser">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/createUser/Fault/WSException"/>
</operation>
<operation name="getSettingById">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingByIdRequest" message="tns:getSettingById"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingByIdResponse" message="tns:getSettingByIdResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingById/Fault/WSException"/>
</operation>
<operation name="getUserByLogin">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getUserByLoginRequest" message="tns:getUserByLogin"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getUserByLoginResponse" message="tns:getUserByLoginResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getUserByLogin/Fault/WSException"/>
</operation>
<operation name="getSatelliteById">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSatelliteByIdRequest" message="tns:getSatelliteById"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSatelliteByIdResponse" message="tns:getSatelliteByIdResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSatelliteById/Fault/WSException"/>
</operation>
<operation name="createSetting">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/createSettingRequest" message="tns:createSetting"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/createSettingResponse" message="tns:createSettingResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/createSetting/Fault/WSException"/>
</operation>
<operation name="getTransponders">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersRequest" message="tns:getTransponders"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersResponse" message="tns:getTranspondersResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTransponders/Fault/WSException"/>
</operation>
<operation name="getAllSatellites">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getAllSatellitesRequest" message="tns:getAllSatellites"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getAllSatellitesResponse" message="tns:getAllSatellitesResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getAllSatellites/Fault/WSException"/>
</operation>
<operation name="ifSuchLoginExists">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/ifSuchLoginExistsRequest" message="tns:ifSuchLoginExists"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/ifSuchLoginExistsResponse" message="tns:ifSuchLoginExistsResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/ifSuchLoginExists/Fault/WSException"/>
</operation>
<operation name="getTranspondersByArbitraryFilter">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersByArbitraryFilterRequest" message="tns:getTranspondersByArbitraryFilter"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersByArbitraryFilterResponse" message="tns:getTranspondersByArbitraryFilterResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersByArbitraryFilter/Fault/WSException"/>
</operation>
<operation name="getTransponderById">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTransponderByIdRequest" message="tns:getTransponderById"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTransponderByIdResponse" message="tns:getTransponderByIdResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTransponderById/Fault/WSException"/>
</operation>
<operation name="getTranspondersBySatelliteId">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersBySatelliteIdRequest" message="tns:getTranspondersBySatelliteId"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersBySatelliteIdResponse" message="tns:getTranspondersBySatelliteIdResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getTranspondersBySatelliteId/Fault/WSException"/>
</operation>
<operation name="getSettingsByUserLogin">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingsByUserLoginRequest" message="tns:getSettingsByUserLogin"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingsByUserLoginResponse" message="tns:getSettingsByUserLoginResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingsByUserLogin/Fault/WSException"/>
</operation>
<operation name="getSettingsByArbitraryFilter">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingsByArbitraryFilterRequest" message="tns:getSettingsByArbitraryFilter"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingsByArbitraryFilterResponse" message="tns:getSettingsByArbitraryFilterResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSettingsByArbitraryFilter/Fault/WSException"/>
</operation>
<operation name="getSatellitesByArbitraryFilter">
<input wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSatellitesByArbitraryFilterRequest" message="tns:getSatellitesByArbitraryFilter"/>
<output wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSatellitesByArbitraryFilterResponse" message="tns:getSatellitesByArbitraryFilterResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://wsmodel.sf5.openbox.org/OpenboxSF5/getSatellitesByArbitraryFilter/Fault/WSException"/>
</operation>
</portType>
<binding name="OpenboxSF5PortBinding" type="tns:OpenboxSF5">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getSettingById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getUserByLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getSatelliteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="createSetting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getTransponders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getAllSatellites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="ifSuchLoginExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getTranspondersByArbitraryFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getTransponderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getTranspondersBySatelliteId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getSettingsByUserLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getSettingsByArbitraryFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getSatellitesByArbitraryFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
</binding>
<service name="OpenboxSF5ImplService">
<port name="OpenboxSF5Port" binding="tns:OpenboxSF5PortBinding">
<soap:address location="http://localhost:8080/SF5Spring-test/jaxws/OpenboxSF5Service"/>
</port>
</service>
</definitions>